<div class="carousel-item {{active}}" data-bs-interval="5000">
    <div class="card">
        <a href="{{url}}" target="_blank">
            <img src="{{image}}" class="card-img-top">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>